body{
    display: grid;
    height: 100vh; /*one vh is one percent of the viewport*/
    grid-template-rows: auto 1fr auto;

}

header{
    background-color: grey;
    text-align: center;/*2EM is a relative height which is twice the size of the current font height*/
    padding: 2em;
}
main{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2em;;
}
footer{
    background-color: blue;
    text-align: center;/*2EM is a relative height which is twice the size of the current font height*/
    padding: 2em;
}